ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin: 0 20px;
}

.menu li a {
   
    color:lightcyan;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

@media screem and (max-width: 750px) {
    ul.menu {
        visibility: visible;
    }
}

@media screen and (max-width: 650px) {

    .buttonShow, .buttonHide {
        width: 30px;
        height: 30px; 
        position: relative;
        left: 100px;
    }

    .buttonShow {
        background: #0d1e4b url("menu-open.svg") top right no-repeat;
        background-size: 30px 30px;
    }

    .buttonHide {
        background: #0d1e4b url("menu-close.svg") top right no-repeat;
        background-size: 30px 30px;
        display:none;
    }

    ul.menu {
        padding: 20px;
        background: #0d1e4b;
        visibility: hidden;
    }

    .menu li {
        display: block;
        margin: 0;
    }
}