
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

ul.menuFooter {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menuFooter li {
    display: inline;
    margin: 0 20px;
}

.menuFooter li a {
   
    color:lightcyan;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 30px;
}

h3 {
    display: inline;
    font-size: 16px;
    margin-bottom: 5px;
}

p {
    font-size: 18px;
    color: lightskyblue;
}

.myName {
    /*  color:#ffff80; 
     color: coral;*/
     /*color: #bf4080;*/
     color: #fff;
     font-weight: 400;
     font-size: 24px;
  }



body {
    /*background:  #0d1e4b url("pattern-test.png") 
     top right no-repeat;*/
     background: #0d1e4b url("gradient2.svg") 100% 5% no-repeat;
     background-size: 40%;
     font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings:
     "wdth" 100;
    
}

.container {
    /*#020c24    #00134d  #000d33*/
    line-height: 26px;
    color: #cce6ff;
    padding: 40px;
   /* width: 900px;*/
  /*margin-left: 100px;*/
  margin-left: 5%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
}

nav {
    text-align: center;
}

section {
    display:flex;
    justify-content: space-between;
    min-height: 70vh;
    padding: 10px;
}

article {
    max-width: 850px;
}

aside {
    align-self: flex-end;
}

aside a {
  text-decoration:none;
  color: #fff;
}

footer {
    text-align: center;
    color: gray;
    padding: 20px;
}

.leftColumn, .rightColumn, .column1 {
   border: 1px solid white;
   border-radius: 40px; 
   padding: 20px;
   margin: 20px;
}

.leftColumn {
    float: left;
}

.rightColumn {
    float: right;
}

h4 {
    font-size: 14px;
    text-indent: 60px; 
    font-weight: 400;
    margin: 0 0 20px 0;
    color: lightskyblue;
}

.contact {
    width: 800px;
    text-align: center;
}

.largeScreen {
    display: block;
}

.smallScreen {
    display: none;
}

.projects {
   text-align: center;
}

.about {
    max-width: 450px;
}

.column1{
   
    width: 180px;
   display:inline;
}

@media screen and (max-width: 650px) {
    .smallScreen {
        display: block;
    }

    .largeScreen {
        display: none;
    }

    .container {
        margin-left: 0;
        padding: 10px;
    }

    .about {
        max-width: 390px;
    }

    .contact {
       text-align: left;
    }

    .bottomNav .menu li a, p {
        font-size: 16px;
    }
}

a.linkButton:link, a.linkButton:visited {
    /*background-color: #f44336;*/
  
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 40px;
    margin: 0 20px;
  }
  
  a.linkButton:hover, a.linkButton:active {
    background-color: #0d1e7d;;
  }

.smallScreen ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 270px;
}

.largeScreen td img, .smallScreen li img {
    vertical-align: middle;
    margin: 0 20px 0 10px;
}

